form, .mytable{
    display: inline-block;
}

.mytable{
    margin-left: 25%;
}
.mytable th, td {
    border: 1px solid black;   
}

form label,input,h2,button{
    display:block;
    text-align: left;
}