<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Author</title>
    {%load static%}
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
</head>
<body>
    <div id="container">
        <form action="/authors/create" method="post">
            <h2>Add an Author</h2>
            <form>
                {% csrf_token %}
                <label for="fname">First name:</label><br>
                <input type="text" id="fname" name="first_name"><br>
                <label for="lname">Last name:</label><br>
                <input type="text" id="lname" name="last_name">
                <label for="notes">Notes:</label>
                <textarea id="textArea" name="notes" rows="4" cols="50"></textarea>
                <button type="submit">Add</button>
            </form> 
        </form>
        <table class = 'mytable'>
            <th>ID</th>
            <th>Name</th>
            <th>Action</th>
            {% for author in allAuthors%}
            <tr>
                <td>{{author.id}}</td>
                <td>{{author.full_name}}</td>
                <td><a href="authors/{{author.id}}">View</a></td>
            </tr>
            {%endfor%}
        </table>
    </div>
</body>
</html>